---
# tasks for installing vim from source

- name: Ensure the vim_download_dir exists
  file:
    path: "{{ vim_download_dir }}"
    state: directory

- name: Retrieve the latest list of tags
  uri:
    url: https://api.github.com/repos/vim/vim/tags
    dest: "{{ vim_download_dir }}/tags"
    creates: "{{ vim_download_dir }}/tags"
  register: tags
  when: vim_latest

- name: Ensure the latest vim tarball is downloaded
  get_url:
    url: "{{ tags.json[0].tarball_url }}"
    dest: "{{ vim_download_dir }}/vim.tar.gz"
  when: tags.json is defined

- name: Ensure the specified vim tarball is downloaded
  get_url:
    url: "{{ vim_tarball_url }}"
    dest: "{{ vim_download_dir }}/vim.tar.gz"
  when: not vim_latest

- name: Untar the download
  unarchive:
    src: "{{ vim_download_dir }}/vim.tar.gz"
    dest: "{{ vim_download_dir }}"
    remote_src: yes
    creates: "{{ vim_src_dir }}"

- name: Move the vim-vim-* directory to {{ vim_src_dir }}
  shell: "mv {{ vim_download_dir}}/vim-vim* {{ vim_src_dir }}"
  args:
    creates: "{{ vim_src_dir }}"

- name: Run ./configure if it has not been run already
  command: './configure \
    --with-features=huge \
    --enable-multibyte \
    --enable-rubyinterp=yes \
    --enable-python3interp=yes \
    --with-python3-config-dir={{ vim_python3_dir }} \
    --enable-perlinterp=yes \
    --enable-luainterp=yes \
    --enable-gui=gtk2 \
    --enable-cscope \
    --prefix=/usr/local'
  args:
    chdir: "{{ vim_src_dir }}"
    creates: "{{ vim_src_dir }}/src/auto/config.h"
  notify: install
